body {
    display: flex;
    flex-direction: column;
    background-color: azure;
    justify-content: center;
    align-items: center;
}

.title {
    color: orangered;
    margin: 0;
    padding: 10px 0 20px 0;
    text-decoration: underline;
}

button,
#submit {
    cursor: pointer;
}

button {
    margin: 15px;
    width: 150px;
}

.card {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    border: 3px solid grey;
    border-radius: 10%;
    padding: 20px;
    align-items: center;
    gap: 0px;
}

.condition {
    text-transform: capitalize;
}